---
import BaseImage from './BaseImage.astro';

type Props = {
  result: string;
  imageUrl: string;
  title: string;
  author: string;
};

const { imageUrl, title, author, result }: Props = Astro.props;
---

<div class="space-y-6 md:space-y-8">
  <h2
    class={`flex flex-col md:flex-row md:gap-10 gap-2 text-pretty justify-between items-baseline  text-4xl font-thin text-gray-100 uppercase`}
  >
    <p>{result}</p>
    <p class="text-3xl">
      {title}
      <span class="text-gray-400 font-light text-2xl mx-1"> by </span>
      {author}
    </p>
  </h2>
  <div class="gap-8">
    <BaseImage
      imageUrl={imageUrl}
      title={title}
      author={author}
      showInfo={false}
    />
  </div>
</div>
